<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro de Usuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="cadForm" (ngSubmit)="onSubmit()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Nome Completo</ion-label>
        <ion-input formControlName="nome" required type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label  position="stacked">Usuário</ion-label>
        <ion-input formControlName="login" required type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Senha</ion-label>
        <ion-input formControlName="senha" required type="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Confirmar Senha</ion-label>
        <ion-input formControlName="confirmaSenha" required type="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-checkbox formControlName="perfil" color="dark" slot="start"></ion-checkbox>
        <ion-label>Síndico/Adm</ion-label>
      </ion-item>
    </ion-list>
    <ion-button type="submit" expand="block">Confirmar</ion-button>
    <ion-button expand="block" [routerLink]="['/login']">Cancelar</ion-button>
  </form>
</ion-content>