<ion-header>
  <ion-toolbar>
    <ion-title>Detalhe do Chamado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="detForm">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Título</ion-label>
        <ion-input readonly formControlName="titulo" required type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Número AP</ion-label>
        <ion-input readonly formControlName="numeroAP" required type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Bloco</ion-label>
        <ion-input readonly formControlName="bloco" required type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Local</ion-label>
        <ion-input readonly formControlName="local" required type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Descrição</ion-label>
        <ion-textarea readonly formControlName="descricao" clearOnEdit="true"></ion-textarea>
      </ion-item>

    </ion-list>
  </form>
</ion-content>